$numKeyframes: 20;

$fadeRadius: 150;
@function randomAbout0($domain) {
	@return random(2*$domain) - $domain
}

body, #app {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	min-height: 480px;
	width: 100%;
	min-width: 320px;
	overflow: hidden;
}

#app {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	background: radial-gradient(circle, #222, #0E0E0E);
	color: white;
	font-family: 'Inconsolata';
	font-size: 40px;
}

.container {
	position: relative;
}

.letter {
	position: absolute;
}

@for $i from 1 through $numKeyframes {
	@keyframes fade-in-#{$i} {
		from {
			opacity: 0;
			transform:
				translate3d(
					randomAbout0($fadeRadius) + 0px,
					randomAbout0($fadeRadius) + 0px,
					randomAbout0($fadeRadius) + 0px
				)
				rotate3d(
					random(),
					random(),
					random(),
					180deg
				);
			filter: blur(5px);
		}
		to {
			opacity: 1;
			transform: none;
			filter: unset;
		}
	}
	@keyframes fade-out-#{$i} {
		from {
			opacity: 1;
			transform: none;
			filter: unset;
		}
		to {
			opacity: 0;
			transform:
				translate3d(
					randomAbout0($fadeRadius) + 0px,
					randomAbout0($fadeRadius) + 0px,
					randomAbout0($fadeRadius) + 0px
				)
				rotate3d(
					random(),
					random(),
					random(),
					180deg
				);
			filter: blur(5px);
		}
	}
}
